:root{
--primary-dark: hsl(0, 0%, 0%);
--primary-mid-dark: hsl(240, 3%, 47%);
--primary-light-dark: hsl(240, 3%, 66%);
--primary-light: hsl(0, 0%, 100%);
--primary-background: hsl(240, 22%, 96%);
--secondary-dark: hsl(244, 68%, 59%);


--ff-primary:'Be Vietnam Pro', sans-serif;
--ff-secondary:'Be Vietnam Pro', sans-serif;

--ff-heading: var(--ff-primary);
--ff-body: var(--ff-secondary);
--ff-button: var(--ff-primary);


--fw-regular: 300;
--fw-semi-bold: 500;
--fw-bold: 600;

--fs-400: 1.5rem;
--fs-500: 1rem;
--fs-600: 3rem;

}

body{
  background-color: var(--primary-background);
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}


ul[role="list"],
ol[role="list"] {
  list-style: none;
}


html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}


body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} 